/*** 
GLOBAL
***/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    width: 100%;
    margin: 0 auto;
}
/***
HEADER
***/
header {
    width: 50rem;
    margin: 0 auto;
}

header h1 {
    font-size: 2.4rem;
    margin: 2rem 0;
}
header p {
    margin-bottom: 0rem;
}

/*** 
CONVERTER section
***/
.converter-section {
    background-color: rgb(240, 238, 220);
    border-radius: 10px;
    overflow: hidden;
    width: 50rem;
    padding: 2rem;
    margin: 2rem auto;
}

/*** 
FORM
***/
.form-group {
    margin-bottom: 1rem;
}

label {
    display: block;
    line-height: 1.84rem;
    margin-bottom: 0.5rem;
}

.number-input {
    width: 100%;
    height: 4rem;
}

button {
    width: 30%;
    height: 4rem;
    font-weight: bold;
}

button span {
    font-size: 1.5rem;
} 

textarea {
    width: 100%;
    height: 7rem;
    resize: vertical;
}

input, textarea, button {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 3px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
input:focus, textarea:focus, button:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(81, 203, 238, 1);
}

/***
MEDIA QUERIES
***/
@media only screen and (max-width: 550px) {
    header {
        width: 90%;
    }
    .converter-section {
        width: 90%;
    }
}